<ul>
<% @movies.each do |movie| %>
    <section class = "movie">
            <div class = "summary">
            <h2>
            <%= link_to movie.title, movie %>
            </h2>
            <h3>
            <%= display_flop_or_total_gross(movie) %>
            </h3>
            <p>
                <%= truncate(movie.description, length:50, seperator:',') %>
            </p>
            <p>
                <%= format_date_time(movie) %>
            </p>
            <% end %>
        </div>
    </section>
</ul>
