<section>
<div class = "info">
    <h1><%= @movie.title %></h1>
    <h2><%=@movie.rating %></h2>
    <h3><%= display_flop_or_total_gross(@movie)%></h3>
    <p><%=@movie.description%></p>
</div>
</section>